<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <title>home page</title>
</head>
<body th:with="person = ${admin.getPerson()}">
<h1>
    <span th:text="${person.getUserName()}"/>, welcome spring boot security page!
</h1>
<hr>
<h2>Your info:</h2>
<div>
    Name: <span th:text="${person.getName()}" />
</div>
<div>
    Lastname: <span th:text="${person.getLastName()}" />
</div>
<div>
    Your roles:
    <th:block th:each="role : ${person.getRoles()}">
        <div>
            <span th:text="${role.getAuthority()}" />
        </div>
    </th:block>
</div>
<br>
<h3>
    <button onclick="window.location.href='/admin/listOfUsers'">List of users</button>
    <button onclick="window.location.href='/logout'">Log out</button>
</h3>
</body>
</html>