<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <title>welcome</title>
</head>
<body style="text-align: center">
    <h1>Welcome to home page! PP3.1.2</h1>
    <hr>
    <button sec:authorize="!isAuthenticated()" onclick="window.location.href='/auth'">Log in</button>
    <button sec:authorize="isAuthenticated()" onclick="window.location.href='/logout'">Log out</button>
</body>
</html>